<div style="background-color: black; color: white;">
    <h1>Este es mi home</h1>
    <img src="/public/image.jpg" alt="image" width="250" height="150">
    <h4>Hola, bienvenidos a brokeninteractive, un lugar donde se rompen cosas y se arreglan solas.</h4>

    <br>
    <h2>
        Has visitado esta pagina sitio <%= visitas %>
    </h2>
</div>
